body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.placing{
    background-color: #F00;
}

.placing p{
    /*color: #b48f29;*/
    color: #00A; /* 33AAFF */
    border: 2px solid #000;
    /*display:inline;*/
    position: static;
}
li:hover{
    background-color: #0FF;
}
li{
    position: relative;
}


p:nth-child(2n){
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #04A;
}

p span, li span{
    color: #A00;
    font-weight: bold;
}

span{
    display:inline;
    border: 2px solid #F0F;
    position: absolute;
    top: 0;
    /*left: -1000px;*/
    right: 0;
    font-size: 1.5em;
}

#one, #two, #three, #four, #five{
    border: 2px solid #000;
    padding: 1em;
}

#one {
    background-color: #FF0;
}
#two {
    background-color: #FA0;
    
}
#three {
    background-color: #0F0;
    position: relative;
    top: 10px;
    left: 100px;
    }
#four {
    background-color: #0AF;
    top: 20px;
    right: 100px;
}
#five {
    background-color: #F88;
}

table{
    border: 1px solid #888;
    border-spacing:0;
}
th{
    background-color: #888;
    color: #FFF;
}
td{padding:.2em;
   border-bottom: 1px solid #333;
}

tr.other, tr:nth-child(2n+1) {
    background-color: #ebbdaa;
}
tr.other, tr:nth-child(2n+0) {
    background-color: #aaebeb;
}
 

